.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  color: #721c24;
  font-size: 100px;
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-shadow: 1px 1px 10px white;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: #000;
}

a:hover{
  color: #000;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  background: url(./bg_arrows.svg) 83px top repeat #ff6b4a;
  color: #000;
  background-attachment: fixed;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.btn {
margin: 10px;
}

.card {
  height: 700px;
}

.form-check-input{
  margin-top: 10px;
  position: absolute;
  top: 98%;
  left: 55%;
  margin: -25px 0 0 -25px;
}

.card-img-top,.card-body{
  height: 200px;
  padding: 0;
}

.scrollableErrorBox {
  color: #383d41;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  overflow-y: scroll;
  min-height: 30vh;
}

.scrollableStdoutBox {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  border-color: #f5c6cb;
  overflow-y: scroll;
  min-height: 30vh;
}

.alert-secondary {
  border-radius: 0.25rem;
}

.card-text {
  font-size: 10px;
}
